
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 'Segoe UI', sans-serif;
}

.section-space {
    padding: 60px 0;
}

.container {
    width: 1170px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-side {
    width: 50%;
}

.right-side {
    width: 50%;
}

.section-title {
    font-size: 40px;
    color: #151414;
    line-height: normal;
    font-weight: 700;
    font-family: 'Segoe UI', sans-serif;
}

p {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Segoe UI', sans-serif;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

/* Banner Area Styles */
.hero-area {
    background-color: #BFC0C4;
}

.hero-area .hero-content   {
    text-align: right;
}

.hero-area .hero-content .hero-title  {
    font-size: 65px;
    font-weight: 700;
    line-height: 65px;
    margin-bottom: 15px;
    font-family: 'Segoe UI', sans-serif;
    color: #151414;
}

.hero-area .hero-content p.hero-desc {
    padding-left: 150px;
}

img {
    width: 100%;
    height: auto;
}

button.btn  {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Segoe UI', sans-serif;
    padding: 10px 25px;
    background-color: #F15B22;
    border-radius: 3px;
    border: none;
    color: #FFF;
    transition: all 0.3s ease-in-out;
    margin-top: 30px;
}

button.btn:hover {
    background-color: #0088DD;
}

/* About Area Styles */

ul li i {
    color: #16D887;
}

.about-area {
    padding-top: 120px;
}

.about-area .container .about-content {
    padding-left: 80px;
}

.about-area .container .about-content .section-title {
    line-height: 40px;
    margin-bottom: 25px;
    font-family: 'Segoe UI', sans-serif;
}

.about-area .container .about-content p {
    padding: 0;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Segoe UI', sans-serif;
    line-height: 24px;
}

.about-area .container .about-content ul li {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
}

/* Planing Area Styles */
.planing-area .section-title {
    text-align: center;
    margin-bottom: 50px;
}

.planing-area .container {
    justify-content: space-between;
}

.icon-box {
    text-align: center;
}

.icon-box img {
    width: 90px;
    height: 90px;
}

.icon-box h3 {
    font-size: 30px;
    font-weight: 700;
    line-height: normal;
    color: #000;
}

.icon-box p {
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    color: #737272;
}

/* Blog Area Styles */
.blog-area .section-title {
    text-align: center;
    margin-bottom: 40px;
}

.blog-box:not(:last-child) {
    margin-right: 20px;
}

.blog-box {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.blog-box .blog-footer {
    padding: 20px;
}

.blog-title {
    margin-bottom: 20px;
}

.blog-title a {
    text-decoration: none;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
}

/* Booking Area Styles */
.booking-inner {
    background: linear-gradient(80deg, rgba(241, 93, 34, 1), rgba(241, 93, 34, 0.1)),
        url(../images/watch.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 60px 65px;
    width: 100%;
    text-align: left;
    border-radius: 8px;
}

.booking-inner .inner-text {
    width: 460px;
}

.booking-inner .inner-text .section-title {
    color: #FFF;
}

.booking-inner .inner-text .btn-call {
    background-color: #FFF;
    color: #F15B22;
}

.booking-inner .inner-text .btn-call:hover {
    background-color: #0088DD;
    color: #FFF;
}

/* Footer Area Styles */
.footer-area {
    background: #151414;
}

.footer-area .container {
    align-items: flex-start;
    justify-content: space-between;
}

.footer-area .container .info-area {
    width: 475px;
}

.footer-area .container .info-area .section-title {
    color: #FFF;
    margin-bottom: 20px;
}

.footer-area .container .info-area p {
    color: #FFF;
    margin-bottom: 20px;
}

.footer-area .container .info-area p.email {
    margin-bottom: 10px;
}

.info-area .social {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 40px;
}

.info-area .social li {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: #FFF;
    transition: all 0.3s ease-in-out;
    border: 2px solid transparent;
}

.info-area .social li:hover {
    border-color: #F15B22;
}

.facebook {color: #006AFF;}
.twitter {color: #1DA1F2;}
.instagram {color: #E1306C;}
.youtube {color: #FF0000;}

.info-area .social li a i {
    font-size: 18px;
}

/* Links area Styles */
.link-area .section-title {
    font-size: 25px;
    color: #FFF;
    margin-bottom: 20px;
}

.link-area ul li a {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #FFF;
    margin-bottom: 20px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;;
}

.link-area ul li a:hover {
    color: #F15B22;
}

/* Newslatter Area */
.footer-area .container .newsletter-area .section-title {
    font-size: 25px;
    color: #FFF;
    margin-bottom: 20px;
}

.footer-area .container .newsletter-area input[type=email] {
    background: transparent;
    font-size: 15px;
    color: #F3F3F3;
    margin-bottom: 10px;
    border: 2px solid #FFF;
    border-radius: 8px;
    padding: 15px 20px;
    outline: none;
}

.footer-area .container .newsletter-area .btn-subscribe {
    margin: 0;
    color: #F15B22;
    background: #FFF;
    border-radius: 8px;
    padding: 15px 25px;
}

.footer-area .container .newsletter-area .btn-subscribe:hover {
    margin: 0;
    color: #FFF;
    background: #F15B22;
}

/* Copy Right Styles */
p.copyright {
    text-align: center;
    color: #FFF;
    padding-bottom: 10px;
    margin: 0;
}